<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Detalle de película</h2>
    <section>
        <h3><%= movie.title %></h3>
        <p><%= movie.genre %></p>
        <p><%= movie.genre %></p>
    </section>

</body>
</html>